In [1]:
import pandas as pd

df = pd.read_csv('train.csv')

In [2]:
df.head(20)

,id,date,is_weekend,steps_total,distance,sleep,app_usage,home_cluster,clusters_count,t_sport,practiced_sport,valence
0,5,2019-05-31,0,NaN,NaN,NaN,-0.161625,NaN,NaN,NaN,NaN,NaN
1,5,2019-06-01,1,NaN,NaN,NaN,1.992985,NaN,NaN,NaN,NaN,NaN
2,5,2019-06-02,1,NaN,NaN,NaN,1.038469,NaN,NaN,NaN,NaN,NaN
3,5,2019-06-03,0,NaN,NaN,NaN,1.199408,NaN,NaN,NaN,NaN,NaN
4,5,2019-06-04,0,NaN,NaN,NaN,2.185056,NaN,NaN,NaN,NaN,NaN
5,5,2019-06-05,0,NaN,NaN,NaN,2.481083,NaN,NaN,NaN,NaN,NaN
6,5,2019-06-06,0,-0.854461,NaN,NaN,1.157992,NaN,NaN,NaN,NaN,0.0
7,5,2019-06-07,0,-0.416468,NaN,-1.216220,2.249959,NaN,NaN,-0.696035,0.0,1.0
8,5,2019-06-08,1,-0.153967,NaN,-0.958696,1.951986,NaN,NaN,-0.729374,0.0,0.0
9,5,2019-06-09,1,-0.930487,NaN,-0.755388,0.561072,NaN,NaN,NaN,NaN,NaN
10,5,2019-06-10,0,-0.802933,NaN,-0.726067,1.367852,NaN,NaN,NaN,NaN,NaN
11,5,2019-06-11,0,1.213865,NaN,0.068913,0.969952,NaN,NaN,-0.477886,1.0,NaN
12,5,2019-06-12,0,-0.635887,-0.378146,-0.113657,0.906299,NaN,-0.598946,-0.788046,0.0,NaN
13,5,2019-06-13,0,-0.693118,-0.370868,0.845686,1.647480,NaN,-0.419785,-0.682122,0.0,NaN
14,5,2019-06-14,0,-0.719938,-0.365948,-0.120525,1.394814,NaN,-0.061462,-0.795396,0.0,NaN
15,5,2019-06-15,1,-0.776112,-0.290275,1.132937,1.358679,NaN,-0.330204,-0.709161,0.0,NaN
16,5,2019-06-16,1,-0.102439,-0.267615,-0.079908,1.599115,NaN,-0.285414,-0.625419,1.0,NaN
17,5,2019-06-17,0,-0.793218,-0.375127,-0.238534,0.661693,NaN,-0.330204,-0.435753,1.0,NaN
18,5,2019-06-18,0,-0.686993,-0.368235,-1.362330,3.556651,NaN,-0.240624,NaN,NaN,NaN
19,5,2019-06-19,0,-0.698819,-0.371665,-1.111765,1.625938,NaN,-0.778108,NaN,NaN,NaN

In [3]:
## sort by id and date columns
df.sort_values(by=['id', 'date'], inplace=True)

In [4]:
df

,id,date,is_weekend,steps_total,distance,sleep,app_usage,home_cluster,clusters_count,t_sport,practiced_sport,valence
0,5,2019-05-31,0,NaN,NaN,NaN,-0.161625,NaN,NaN,NaN,NaN,NaN
1,5,2019-06-01,1,NaN,NaN,NaN,1.992985,NaN,NaN,NaN,NaN,NaN
2,5,2019-06-02,1,NaN,NaN,NaN,1.038469,NaN,NaN,NaN,NaN,NaN
3,5,2019-06-03,0,NaN,NaN,NaN,1.199408,NaN,NaN,NaN,NaN,NaN
4,5,2019-06-04,0,NaN,NaN,NaN,2.185056,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
110692,2689,2020-04-27,0,-0.985184,-0.377994,NaN,NaN,NaN,NaN,-0.796709,0.0,0.0
110693,2689,2020-04-28,0,-0.952450,-0.379999,NaN,NaN,NaN,NaN,-0.796709,0.0,1.0
110694,2689,2020-04-29,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
110695,2689,2020-04-30,0,-0.936189,-0.380235,NaN,NaN,NaN,NaN,-0.796709,0.0,2.0
110696,2689,2020-05-01,0,-0.855095,-0.379554,NaN,NaN,NaN,NaN,-0.796709,0.0,NaN

In [5]:
def impute_columns_mean(df):
    
    columns_to_impute = ['steps_total', 'distance', 'sleep', 'app_usage', 'home_cluster', 't_sport', 'clusters_count']  # Add other columns as needed

    for column in columns_to_impute:
        df[column] = df.groupby('id')[column].transform(lambda x: x.fillna(x.mean()))

    for column in columns_to_impute:
        df[column] = df[column].transform(lambda x: x.fillna(x.mean()))

    for column in columns_to_impute:
            df[column] = df.groupby('id')[column].transform(lambda x: (x - x.mean()) / x.std())

    # fill practiced_sport with 0
    df['practiced_sport'] = df['practiced_sport'].fillna(0)

    return df

def impute_columns_mask(df):
    columns_to_impute = ['steps_total', 'distance', 'sleep', 'app_usage', 'home_cluster', 't_sport', 'clusters_count']  # Add other columns as needed
    
    for column in columns_to_impute:
                df[column] = df.groupby('id')[column].transform(lambda x: (x - x.mean()) / x.std())
    
    # for column in columns_to_impute:
    #             df[column + 'max_usr_diff'] = df.groupby('id')[column].transform(lambda x: x.max() - x)
    #             df[column + 'min__usr_diff'] = df.groupby('id')[column].transform(lambda x: x - x.min())
    #             df[column + 'mean_usr_diff'] = df.groupby('id')[column].transform(lambda x: x - x.mean())
    #             df[column + 'std_usr_diff'] = df.groupby('id')[column].transform(lambda x: x - x.std())
    #             df[column + 'median_usr_diff'] = df.groupby('id')[column].transform(lambda x: x - x.median())
    
    #             # df[column + 'max_diff'] = df[column].transform(lambda x: x.max() - x)
    #             # df[column + 'min_diff'] = df[column].transform(lambda x: x - x.min())
    #             # df[column + 'mean_diff'] = df[column].transform(lambda x: x - x.mean())
    #             # df[column + 'std_diff'] = df[column].transform(lambda x: x - x.std())
    #             # df[column + 'median_diff'] = df[column].transform(lambda x: x - x.median())

    # for column in columns_to_impute:
    #     columns_to_impute.append(column + 'max_usr_diff')
    #     columns_to_impute.append(column + 'min__usr_diff')
    #     columns_to_impute.append(column + 'mean_usr_diff')
    #     columns_to_impute.append(column + 'std_usr_diff')
    #     columns_to_impute.append(column + 'median_usr_diff')
        # columns_to_impute.append(column + 'max_diff')
        # columns_to_impute.append(column + 'min_diff')
        # columns_to_impute.append(column + 'mean_diff')
        # columns_to_impute.append(column + 'std_diff')
        # columns_to_impute.append(column + 'median_diff')
    
    columns_to_impute.append('practiced_sport')
    
    for column in columns_to_impute:
        df[column] = df.groupby('id')[column].transform(lambda x: x.fillna(-9999.0))

    return df

# df = impute_columns_mean(df)
df = impute_columns_mask(df)

In [6]:
df.head(50)

,id,date,is_weekend,steps_total,distance,sleep,app_usage,home_cluster,clusters_count,t_sport,practiced_sport,valence
0,5,2019-05-31,0,-9999.000000,-9999.000000,-9999.000000,-2.366512,-9999.0,-9999.000000,-9999.000000,-9999.0,NaN
1,5,2019-06-01,1,-9999.000000,-9999.000000,-9999.000000,0.608229,-9999.0,-9999.000000,-9999.000000,-9999.0,NaN
2,5,2019-06-02,1,-9999.000000,-9999.000000,-9999.000000,-0.709614,-9999.0,-9999.000000,-9999.000000,-9999.0,NaN
3,5,2019-06-03,0,-9999.000000,-9999.000000,-9999.000000,-0.487415,-9999.0,-9999.000000,-9999.000000,-9999.0,NaN
4,5,2019-06-04,0,-9999.000000,-9999.000000,-9999.000000,0.873409,-9999.0,-9999.000000,-9999.000000,-9999.0,NaN
5,5,2019-06-05,0,-9999.000000,-9999.000000,-9999.000000,1.282117,-9999.0,-9999.000000,-9999.000000,-9999.0,NaN
6,5,2019-06-06,0,-0.594180,-9999.000000,-9999.000000,-0.544596,-9999.0,-9999.000000,-9999.000000,-9999.0,0.0
7,5,2019-06-07,0,0.436693,-9999.000000,-1.377489,0.963018,-9999.0,-9999.000000,-0.086058,0.0,1.0
8,5,2019-06-08,1,1.054521,-9999.000000,-0.977218,0.551624,-9999.0,-9999.000000,-0.398886,0.0,0.0
9,5,2019-06-09,1,-0.773117,-9999.000000,-0.661216,-1.368727,-9999.0,-9999.000000,-9999.000000,-9999.0,NaN
10,5,2019-06-10,0,-0.472901,-9999.000000,-0.615641,-0.254855,-9999.0,-9999.000000,-9999.000000,-9999.0,NaN
11,5,2019-06-11,0,4.273887,-9999.000000,0.620000,-0.804212,-9999.0,-9999.000000,1.960869,1.0,NaN
12,5,2019-06-12,0,-0.079738,-0.538504,0.336230,-0.892093,-9999.0,-0.575106,-0.949413,0.0,NaN
13,5,2019-06-13,0,-0.214437,-0.396745,1.827342,0.131211,-9999.0,0.077253,0.044492,0.0,NaN
14,5,2019-06-14,0,-0.277562,-0.300927,0.325556,-0.217630,-9999.0,1.381970,-1.018383,0.0,NaN
15,5,2019-06-15,1,-0.409776,1.172920,2.273818,-0.267519,-9999.0,0.403432,-0.209219,0.0,NaN
16,5,2019-06-16,1,1.175800,1.614273,0.388686,0.064436,-9999.0,0.566522,0.576545,1.0,NaN
17,5,2019-06-17,0,-0.450037,-0.479696,0.142134,-1.229805,-9999.0,0.403432,2.356214,1.0,NaN
18,5,2019-06-18,0,-0.200023,-0.345467,-1.604589,2.767088,-9999.0,0.729611,-9999.000000,-9999.0,NaN
19,5,2019-06-19,0,-0.227857,-0.412266,-1.215133,0.101469,-9999.0,-1.227464,-9999.000000,-9999.0,NaN
20,5,2019-06-20,0,0.385497,-0.155968,0.914374,0.586930,-9999.0,3.012866,-1.027004,0.0,NaN
21,5,2019-06-21,0,-0.456995,-0.460682,0.658833,-0.241423,-9999.0,-0.248926,-0.257251,0.0,NaN
22,5,2019-06-22,1,-0.211952,3.520942,-0.594715,-0.661068,-9999.0,-0.575106,-9999.000000,-9999.0,NaN
23,5,2019-06-23,1,-0.769140,-0.449564,0.865991,0.346118,-9999.0,-1.390554,-9999.000000,-9999.0,NaN
24,5,2019-06-24,0,-0.126957,-0.076575,-0.132648,-0.432729,-9999.0,-0.412016,-9999.000000,-9999.0,NaN
25,5,2019-06-25,0,-0.249727,-0.265404,-1.362320,-0.160449,-9999.0,-0.248926,0.394267,1.0,NaN
26,5,2019-06-26,0,-0.310864,-0.375079,-1.533243,-0.308773,-9999.0,-0.901285,-0.917392,0.0,NaN
27,5,2019-06-27,0,-0.370509,-0.337202,0.681656,0.814693,-9999.0,-0.248926,-9999.000000,-9999.0,NaN
28,5,2019-06-28,0,-0.326272,-0.257014,0.109410,1.776979,-9999.0,0.240343,0.199674,1.0,NaN
29,5,2019-06-29,1,0.301994,-0.398457,0.604692,0.830811,-9999.0,-0.575106,0.273570,1.0,NaN
30,5,2019-06-30,1,-0.841709,-0.460385,0.547811,0.516701,-9999.0,-0.412016,-9999.000000,-9999.0,NaN
31,5,2019-07-01,0,-0.264639,-0.598201,0.228508,-1.267414,-9999.0,-9999.000000,-0.942024,0.0,NaN
32,5,2019-07-02,0,-9999.000000,-9999.000000,-0.450828,-9999.000000,-9999.0,-9999.000000,-9999.000000,-9999.0,NaN
33,16,2019-07-09,0,-9999.000000,-9999.000000,-9999.000000,0.759636,-9999.0,-9999.000000,-9999.000000,-9999.0,NaN
34,16,2019-07-10,0,-9999.000000,-9999.000000,-9999.000000,0.494982,-9999.0,-9999.000000,-9999.000000,-9999.0,NaN
35,16,2019-07-11,0,-9999.000000,-9999.000000,-9999.000000,2.292801,-9999.0,-9999.000000,-9999.000000,-9999.0,NaN
36,16,2019-07-12,0,-9999.000000,-9999.000000,-9999.000000,1.815485,-9999.0,-9999.000000,-9999.000000,-9999.0,NaN
37,16,2019-07-13,1,-9999.000000,-9999.000000,-9999.000000,2.960657,-9999.0,-9999.000000,-9999.000000,-9999.0,NaN
38,16,2019-07-14,1,-9999.000000,-9999.000000,-9999.000000,1.660066,-9999.0,-9999.000000,-9999.000000,-9999.0,NaN
39,16,2019-07-15,0,1.345164,-9999.000000,-9999.000000,0.274023,-9999.0,-9999.000000,-0.443317,0.0,2.0
40,16,2019-07-16,0,2.231180,-9999.000000,-0.212543,0.921968,-9999.0,-9999.000000,2.268572,1.0,0.0
41,16,2019-07-17,0,1.860871,-9999.000000,-0.099753,1.653706,-9999.0,-9999.000000,0.117417,1.0,0.0
42,16,2019-07-18,0,2.193468,-9999.000000,-2.033942,1.520135,-9999.0,-9999.000000,-0.831959,0.0,NaN
43,16,2019-07-19,0,2.723260,-9999.000000,0.529172,0.873572,-9999.0,-9999.000000,0.247921,1.0,NaN
44,16,2019-07-20,1,1.478294,-9999.000000,0.388738,-0.326633,-9999.0,-9999.000000,-9999.000000,-9999.0,NaN
45,16,2019-07-21,1,-0.019755,-9999.000000,-0.903210,0.560800,-9999.0,-9999.000000,-0.471999,0.0,NaN
46,16,2019-07-22,0,2.060793,-9999.000000,-0.897056,0.783972,-9999.0,-9999.000000,-0.073319,0.0,NaN
47,16,2019-07-23,0,2.530154,-9999.000000,-0.956579,0.153726,-9999.0,-9999.000000,-0.813316,0.0,NaN
48,16,2019-07-24,0,-9999.000000,-9999.000000,-0.927624,0.343989,-9999.0,-9999.000000,-9999.000000,-9999.0,NaN
49,16,2019-07-25,0,-9999.000000,-9999.000000,0.504657,1.519581,-9999.0,-9999.000000,-9999.000000,-9999.0,NaN

In [7]:
import numpy as np

def create_lstm_input_tensor(df, n_lags=3):
    """
    Create an LSTM-friendly 3D tensor from the DataFrame.
    
    Args:
        df (pd.DataFrame): The original DataFrame sorted by 'id' and 'date'.
        n_lags (int): Number of days (lags) to look back for creating sequences.
        
    Returns:
        numpy.ndarray: A 3D tensor for LSTM input of shape [N, D, F], 
                       where N is the number of sequences, D is the number of lags (days), 
                       and F is the number of features.
        numpy.ndarray: An array of target values associated with each sequence.
    """
    # Drop rows where 'valence' is NaN initially to determine our sequences
    if 'valence' in df.columns:
        df_nonan = df.dropna(subset=['valence'])
    else:
        df_nonan = df
    
    # Identify the columns to be included in the feature set (exclude 'id', 'date', and 'valence')
    feature_columns = [col for col in df.columns if col not in ('id', 'date', 'valence')]
    
    sequences = []  # To store the sequences
    targets = []    # To store the targets
    
    # Iterate through each unique 'id' to create sequences
    for id_value in df_nonan['id'].unique():
        user_df = df_nonan[df_nonan['id'] == id_value]  # Filter data for the current 'id'
        for i in range(n_lags, len(user_df)):
            # Create a sequence for the current index
            seq = user_df.iloc[i-n_lags:i][feature_columns].to_numpy()
            sequences.append(seq)
            # Add the corresponding target value
            targets.append(user_df.iloc[i]['valence'])
    
    # Convert lists to numpy arrays
    sequences_array = np.array(sequences)
    targets_array = np.array(targets)
    
    return sequences_array, targets_array

# Usage example
n_lags = 7  # Number of days to look back for lagged features
sequences, targets = create_lstm_input_tensor(df, n_lags)

print(f"Sequences shape: {sequences.shape}")  # Should show (N, D, F)
print(f"Targets shape: {targets.shape}")      # Should show (N,)

Sequences shape: (7147, 7, 9)
Targets shape: (7147,)

In [8]:
def train_val_test_split_sequences(sequences, targets, train_size=0.6, val_size=0.2):
    """
    Split sequences and targets into training, validation, and testing sets while preserving chronological order.
    
    Args:
        sequences (numpy.ndarray): The input sequences for the LSTM model.
        targets (numpy.ndarray): The target values associated with each sequence.
        train_size (float): The proportion of the dataset to include in the train split.
        val_size (float): The proportion of the dataset to include in the validation split.
    
    Returns:
        X_train, X_val, X_test, y_train, y_val, y_test: Arrays containing the splits for inputs and targets.
    """
    # Calculate the split indices
    n_sequences = len(sequences)
    train_split_index = int(n_sequences * train_size)
    val_split_index = train_split_index + int(n_sequences * val_size)
    
    # Split the data
    X_train = sequences[:train_split_index]
    y_train = targets[:train_split_index]
    
    X_val = sequences[train_split_index:val_split_index]
    y_val = targets[train_split_index:val_split_index]
    
    X_test = sequences[val_split_index:]
    y_test = targets[val_split_index:]
    
    return X_train, X_val, X_test, y_train, y_val, y_test

# Perform the train-validation-test split
train_size = 0.6  # 60% of data for training
val_size = 0.2    # 20% of data for validation
X_train, X_val, X_test, y_train, y_val, y_test = train_val_test_split_sequences(sequences, targets, train_size, val_size)

from keras.utils import to_categorical

y_train = to_categorical(y_train, num_classes=3)
y_val = to_categorical(y_val, num_classes=3)
y_test = to_categorical(y_test, num_classes=3)

print(f"Training sequences shape: {X_train.shape}")
print(f"Validation sequences shape: {X_val.shape}")
print(f"Testing sequences shape: {X_test.shape}")
print(f"Training targets shape: {y_train.shape}")
print(f"Validation targets shape: {y_val.shape}")
print(f"Testing targets shape: {y_test.shape}")

Training sequences shape: (4288, 7, 9)
Validation sequences shape: (1429, 7, 9)
Testing sequences shape: (1430, 7, 9)
Training targets shape: (4288, 3)
Validation targets shape: (1429, 3)
Testing targets shape: (1430, 3)

In [9]:
from keras.models import Sequential
from keras.layers import Masking, LSTM, Dense
from keras.optimizers import Adam
from keras.callbacks import EarlyStopping

# Assuming the input data has been prepared
N, D, F = X_train.shape  # N: number of samples, D: timesteps, F: features

mask_value = -9999.0

model = Sequential()
model.add(Masking(mask_value=mask_value, input_shape=(D, F)))
model.add(LSTM(128))  # You can adjust the number of LSTM units
model.add(Dense(64, activation='relu'))
model.add(Dense(3, activation='softmax'))  # Output layer for 3-class classification

# Compile the model for a multi-class classification problem
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

# Setup early stopping
early_stopping = EarlyStopping(monitor='val_loss', patience=5, verbose=1, mode='min', restore_best_weights=True)

# Assuming y_train and y_val are one-hot encoded to match the 3 classes
model.fit(X_train, y_train, epochs=30, batch_size=64, validation_data=(X_val, y_val), callbacks=[early_stopping])

# Ensure y_test is one-hot encoded if your model is configured for categorical outputs
# This step is crucial for consistency with your model's output configuration

# Evaluate the model on the test set
test_loss, test_accuracy = model.evaluate(X_test, y_test, verbose=1)

# Print out the model's performance on the test set
print(f"Test Loss: {test_loss:.4f}")
print(f"Test Accuracy: {test_accuracy:.4f}")

Epoch 1/30
67/67 [==============================] - 2s 14ms/step - loss: 1.0451 - accuracy: 0.4685 - val_loss: 1.0675 - val_accuracy: 0.5332
Epoch 2/30
67/67 [==============================] - 0s 6ms/step - loss: 0.9541 - accuracy: 0.5527 - val_loss: 1.0759 - val_accuracy: 0.5360
Epoch 3/30
67/67 [==============================] - 0s 6ms/step - loss: 0.9312 - accuracy: 0.5667 - val_loss: 1.0886 - val_accuracy: 0.5325
Epoch 4/30
67/67 [==============================] - 0s 5ms/step - loss: 0.9118 - accuracy: 0.5774 - val_loss: 1.1271 - val_accuracy: 0.5304
Epoch 5/30
67/67 [==============================] - 0s 5ms/step - loss: 0.8997 - accuracy: 0.5823 - val_loss: 1.1199 - val_accuracy: 0.5276
Epoch 6/30
56/67 [========================>.....] - ETA: 0s - loss: 0.8831 - accuracy: 0.5929Restoring model weights from the end of the best epoch: 1.
67/67 [==============================] - 0s 5ms/step - loss: 0.8883 - accuracy: 0.5856 - val_loss: 1.1223 - val_accuracy: 0.5318
Epoch 6: early stopping
45/45 [==============================] - 0s 1ms/step - loss: 1.0087 - accuracy: 0.5755
Test Loss: 1.0087
Test Accuracy: 0.5755

In [10]:

import numpy as np

def create_lstm_input_tensor_with_padding(df, n_lags=3):
    """
    Create an LSTM-friendly 3D tensor from the DataFrame for prediction purposes,
    including padding for initial sequences with fewer than n_lags days of history.
    
    Args:
        df (pd.DataFrame): The DataFrame sorted by 'id' and 'date', not containing 'valence'.
        n_lags (int): Number of days (lags) to look back for creating sequences.
        
    Returns:
        numpy.ndarray: A 3D tensor for LSTM input of shape [N, D, F], 
                       where N is the number of sequences, D is the number of lags (days), 
                       and F is the number of features.
    """
    # Identify the columns to be included in the feature set (exclude 'id', 'date', and optionally 'valence' if it exists)
    feature_columns = [col for col in df.columns if col not in ('id', 'id_kaggle', 'date', 'valence')]
    
    sequences = []  # To store the sequences
    
    # Iterate through each unique 'id' to create sequences
    for id_value in df['id'].unique():
        user_df = df[df['id'] == id_value]  # Filter data for the current 'id'
        user_features = user_df[feature_columns]
        
        for i in range(len(user_df)):
            if i < n_lags:
                # Pad the sequence for rows with fewer than n_lags days of history
                padding_size = n_lags - i
                # padded_sequence = np.zeros((padding_size, len(feature_columns)))  # Padding with zeros
                # padding with mask_value
                padded_sequence = np.full((padding_size, len(feature_columns)), mask_value)
                available_sequence = user_features.iloc[0:i].to_numpy()
                seq = np.vstack((padded_sequence, available_sequence))
            else:
                seq = user_features.iloc[i-n_lags:i].to_numpy()
            
            sequences.append(seq)
    
    # Convert list to numpy array
    sequences_array = np.array(sequences)
    
    return sequences_array

In [11]:
# Usage example assuming 'df' is your new DataFrame for prediction
n_lags = 7  # Number of days to look back for lagged features

test_df = pd.read_csv('test.csv')
submission_cols = pd.read_csv('test_prediction.csv')
test_df = impute_columns_mask(test_df)

test_with_kaggle_id = pd.merge(test_df, submission_cols, on=['id', 'date'], how='inner')

In [12]:
sequences_for_prediction = create_lstm_input_tensor_with_padding(test_with_kaggle_id, n_lags)

# Step 3: Use the model to predict
predictions = model.predict(sequences_for_prediction)

# If your model outputs categorical probabilities, you may want to convert these to class labels
predicted_labels = np.argmax(predictions, axis=1)

# Step 4 & 5: Map predictions to 'id_kaggle'
results_df = pd.DataFrame({
    'Id': test_with_kaggle_id['id_kaggle'],
    'Category': predicted_labels
})

#df_merged['Category'] = "'" + df_merged['Category'] + "'"
results_df['Category'] = results_df['Category'].astype(str)
results_df['Category'] = "'" + results_df['Category'] + "'"


# Adjust the filename as necessary
results_df.to_csv('lstm.csv', index=False)

52/52 [==============================] - 1s 1ms/step